* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    height: 99%;
    width: 99%;
    background-color: #444B72;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 1vh;
    padding-right: 1vh;
}

.header {
    width: 100%;
    color: whitesmoke;
    padding: 1vh 0;
    margin-left: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
}

.window {
    width: 50%;
    border-radius: 5px;
    background-color: whitesmoke;
    overflow: auto;
    border: 1px solid grey;
}

.middle {
    width: 1%;
    height: 100%;
}

h1 {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
}

table {
    margin: 5px;
    border-collapse: collapse;
}

th,td {
    text-align: left;
    padding: 5px;
    position: relative;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    min-width: 50px;
}

th .resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    height: 100%;
    cursor: col-resize;
    background-color: grey;
}

.path {
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 50%;
    background-color: whitesmoke;
    border: 1px solid grey;
    position: relative;
}

.paths {
    display: flex;
    margin-bottom: 2px;
    width: 100%;
    height: 30px;
}

.dropdown-arrow {
    margin-right: 5px;
    cursor: pointer;
}

.dropdown-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: whitesmoke;
    border: 1px solid grey;
    width: 30%;
    z-index: 1;
}

.show {
    display: block;
}

.item {
    display: flex;
    flex-direction: row;
}

.item:hover {
    background-color: lightblue;
}

.item div:first-child {
    width: 30%;
    border-right: 1px solid grey;
}

.item div:last-child {
    width: 70%;
}

[contenteditable]:focus {
    outline: 1px solid grey;
    text-align: left;
    width: 100%;
}