body{
    background-color: #E5D9F2;
    color: #2f2d33;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.2s linear;
}



.application{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #A594F9;
    height: 100%;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
    transition: all 0.2s linear;
}

.application-header{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.title-cont{
    width: 50%;
}

.button-cont{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.application-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.application-window{
    width: 60%;
    background-color: #CDC1FF;
    height: 900px;
    padding: 1%;
    transition: all 0.2s linear;
}

.slider{
    min-width: 20px;
}

tr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.1s linear;
}

table{
    width: 100%;
}

.file:hover{
    background-color: #8e9b9c;
    color: white;
}

.window-left{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px ;
}

.window-right{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px ;
}

/* switch */

.switch:has(input[type=checkbox]:checked){
    width: 150px;
    height: 60px;
    background-color: #31363F;
    border-radius: 50px;
}

.switch{
    width: 150px;
    height: 60px;
    background-color: #CDC1FF;
    border-radius: 50px;
    transition: background-color 0.2s linear;
}


.checker{
   visibility: hidden;
}

.switch-slider{
    margin-top: -15px;
    width: 50px;
    height: 80%;
    background-color: #A594F9;
    margin-left: 10px;
    transition: all 0.2s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch-slider .hold{
    display: none;
}

.checker:checked + .switch-slider .hold{
    display: block;
}

.switch-slider .nap{
    display: block;
}

.checker:checked + .switch-slider .nap{
    display: none;
}

.checker:checked + .switch-slider{
    margin-left: 60%;
    background-color: #222831;
}

.nap, .hold{
    transition: display 0.2s linear;
}

/* darkmode */ 

body:has(input[id="ThemeSwitch"]:checked){
    background-color: #76ABAE;
    color: #EEEEEE;
}

body:has(input[id="ThemeSwitch"]:checked) .application{
    background-color: #222831;
}

body:has(input[id="ThemeSwitch"]:checked) .application-window{
    background-color: #31363F;
}

body:has(input[id="ThemeSwitch"]:checked) .file:hover{
    background-color: #8e9b9c;
    color: white;
}


