body{
    background-color: #E5D9F2;
    color: #2f2d33;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.2s linear;
}

.application{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: #A594F9;
    height: 100%;
    border-radius: 10px;
    padding-left: 1%;
    padding-right: 1%;
    transition: all 0.2s linear;
}

.application-header{
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.title-cont{
    width: 50%;
}

.button-cont{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.application-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.application-window{
    width: 100%;
    background-color: #CDC1FF;
    height: 900px;
    padding: 1%;
    transition: all 0.2s linear;
}

.main-left, .main-right{
    width: 90%;
}

.slider{
    min-width: 20px;
}

tr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.1s linear;
}

table{
    width: 100%;
}

.window-left{
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px ;
}

.window-right{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px ;
}

/* path */ 

.path-container{
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}

.path{

}

/* path -> dropdown-arrow */

.dropdown-arrow-label{
    margin: 0;
    padding: 0;
}

.dropdown-arrow{
    margin: 0;
    padding: 0;
    transform: rotate(-90deg);
    transition: transform 0.2s linear;
}

/* path -> dropdown */

.dropdown-list{
    display: none !important;
    position: absolute;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 25px;
    background-color: #CDC1FF;
    margin-top: 20px;
    width: 150px;
}

.path-container:has(input[id="ArrowCheckLeft"]:checked) .dropdown-list{
    display: block !important;
}

.path-container:has(input[id="ArrowCheckLeft"]:checked) .dropdown-arrow{
    transform: rotate(0);
}

.dropdown-item{
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    text-align: center;
}

.dropdown-item:hover{
    background-color: #8e9b9c;
    color: white;
}

/* file style */

.file:hover{
    background-color: #8e9b9c;
    color: white;
}

/* Theme switch */

.switch:has(input[type=checkbox]:checked){
    width: 150px;
    height: 60px;
    background-color: #31363F;
    border-radius: 50px;
}

.switch{
    width: 150px;
    height: 60px;
    background-color: #CDC1FF;
    border-radius: 50px;
    transition: background-color 0.2s linear;
}


.checker{
   display: none;
}

.switch-slider{
    margin-top: 5px;
    width: 50px;
    height: 80%;
    background-color: #A594F9;
    margin-left: 10px;
    transition: all 0.2s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch-slider .hold{
    display: none;
}

input[id="ThemeSwitch"]:checked + .switch-slider .hold{
    display: block;
}

.switch-slider .nap{
    display: block;
}

input[id="ThemeSwitch"]:checked + .switch-slider .nap{
    display: none;
}

input[id="ThemeSwitch"]:checked + .switch-slider{
    margin-left: 60%;
    background-color: #222831;
}

.nap, .hold{
    transition: display 0.2s linear;
}

/* darkmode */ 

body:has(input[id="ThemeSwitch"]:checked){
    background-color: #76ABAE;
    color: #EEEEEE;
}

body:has(input[id="ThemeSwitch"]:checked) .application{
    background-color: #222831;
}

body:has(input[id="ThemeSwitch"]:checked) .application-window{
    background-color: #31363F;
}

body:has(input[id="ThemeSwitch"]:checked) .file:hover{
    background-color: #8e9b9c;
    color: white;
}


